doctype html
html(lang="en")
  head
    title 3d music
    link(rel="stylesheet" href="assets/css/app.css")

  body
    #container
    #mixer
      #track1.track(data-track="1")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track2.track(data-track="2")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track3.track(data-track="3")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track4.track(data-track="4")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track5.track(data-track="5")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track6.track(data-track="6")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track7.track(data-track="7")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track8.track(data-track="8")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track9.track(data-track="9")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track10.track(data-track="alt+0")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track11.track(data-track="alt+1")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track12.track(data-track="alt+2")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track13.track(data-track="alt+3")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track14.track(data-track="alt+4")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track15.track(data-track="alt+5")
        .levelMeter
          .bar x
        .volume
          .bar x
      #track16.track(data-track="alt+6")
        .levelMeter
          .bar x
        .volume
          .bar x
      #master.track
        .levelMeter
          .bar x
        .volume
          .bar x

    script(src="assets/js/app.js")