doctype html
html(lang="en")
  head
    title 3d music
    link(rel="stylesheet" href="assets/css/app.css")

  body
    #container
    #mixer
      #track1.track
        .levelBar x
      #track2.track
        .levelBar x
      #track3.track
        .levelBar x
      #track4.track
        .levelBar x
      #track5.track
        .levelBar x
      #track6.track
        .levelBar x
      #track7.track
        .levelBar x
      #track8.track
        .levelBar x
      #track9.track
        .levelBar x
      #track10.track
        .levelBar x
      #track11.track
        .levelBar x
      #track12.track
        .levelBar x
      #track13.track
        .levelBar x
      #track14.track
        .levelBar x
      #track15.track
        .levelBar x
      #track16.track
        .levelBar x
      #master.track
        .levelBar x

    script(src="assets/js/app.js")