
body {
  margin: 0;
  overflow: hidden;
}

.info {
  position: fixed;
  top: 10px;
  font-size: 9px;
  color: white;
  font-family: 'Helvetica Neue', sans-serif, monospace;
  // font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 2px;
  line-height: 2;
}

#title {
  left: 10px;
}

#version {
  right: 10px;
  opacity: 0.3;
}

#mixer {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: 0.4;

  transition: all 0.2s ease-in-out;
  transform: translate3d(0, 100px, 0);

  &.visible {
    transform: translate3d(0, 0, 0);
  }
}

.track {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin: 0 10px;
  // background: #222;
  opacity: 0.6;
  transition: all 0.1s ease-out;

  &.isActivated,
  &.hasInstrument:hover {
    opacity: 1;
  }

  &:not(.hasInstrument) {
    opacity: 0.1 !important;
  }

  &#master {
    background: black;
  }

  &:not(:first-child)[id^="track1"] {
    .levelBar {
      background: turquoise;
    }
  }

  &::after {
    content: attr(data-track);
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    color: white;
    font-family: monospace;
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid transparent;
  }

  &.isActivated::after {
    color: #FFF010;
    border-color: #FFF010;
  }

  .bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    text-indent: -999em;
  }

  .levelMeter {
    position: relative;
    width: 100%;

    .bar {
      background: white;
    }
  }

  .volume {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background: #000;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
    }

    .bar {
      // background: green;
      border-top: 2px solid white;
    }
  }
}
